body {
    background-color: #e7e9eb;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

h1 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0px;
}

#pop-up-container {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px !important;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

#pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;

}

#no-reminder-message-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#add-reminder-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin: 16px;
    cursor: pointer;
    user-select: none;
    background-color: #329cff;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

#add-reminder-button:hover {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

#app-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#title-time-section {
    flex: 4;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 16px;
    margin-top: 32px;
}

#reminders-crud-section {
    flex: 6;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 32px;
    margin-top: 32px;
}

#crud-container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin: 16px 0px;
}

.crud-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    height: 48px;
    width: 48px;
    cursor: pointer;
    user-select: none;
}

#new-reminder-button {
    background-color: #329cff;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    width: auto !important;
}

#delete-button {
    background-color: #ff0000;
}

#inline-delete-button {
    filter: invert(17%) sepia(85%) saturate(7415%) hue-rotate(4deg) brightness(97%) contrast(119%);
}

.icon-button {
    height: 24px;
    width: 24px;
    filter: invert();
}

.inline-icon-button {
    height: 24px;
    width: 24px;
}

#reminders-container {
    border-radius: 24px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

.reminder {
    background-color: #ffffff;
    padding: 24px;
}

.reminder-head-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reminder-lead-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reminder-checkbox {
    margin-right: 16px;
}

.reminder-title {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.reminder-trail-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.reminder-date-time {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.reminder-description {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 760px) {
    #app-flex {
        flex-direction: column;
    }
    #pop-up {
        width: 75%;
    }
}